.app--footer {
  width: 100%;
  color: #f5f5f7;
  background-color: #283e4a;
  padding: 1rem;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  & .app-footer--copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    & .app-footer--builtinfo {
      font-size: 12px;
    }
  }
  & svg {
    fill: white;
    margin-right: 1rem;
    overflow: visible;
  }
}