@import './animations.scss';
@import '../client/components/footer/Footer.scss';
@import '../client/components/header/Header.scss';
@import '../client/components/myDetails/MyDetails.scss';

body {
  background-color: #efedeb;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.app-dp--container {
  @media(min-width: 770px) {
    margin-right: 2rem;
  }
}
.app--dp {
  border-radius: 50%;
  width: 420px;
  height: 420px;
  margin: 2rem 0;
  animation-name: textdisplay;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  @media(max-width: 770px) {
    width: 50%;
    height: 50%;
    margin-bottom: 0;
    margin: auto;
    display: block;
    margin-top: 2rem;
  }
}

.app--container {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  @media(max-width: 770px) {
    display: block;
  }
}

.app--name {
  font-size: 50px;
  width: 40%;
  margin: 4rem 2rem;
  margin-left: 2rem;
  opacity: 0;
  animation-name: textdisplay;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  @media(max-width: 770px) {
    font-size: 35px;
    width: auto;
    margin-top: 2rem;
  }
}

.app--designation {
  font-size: 35px;
  margin-top: 1rem;
  opacity: 0.6;
  animation-name: textdisplay 4s;
  animation-fill-mode: forwards;
  @media(max-width: 770px) {
    font-size: 25px;
  }
}

.app-intro--text {
  margin-top: 2rem;
  opacity: 0.6;
  & span {
    display: inline-block;
    font-size: 20px;
    line-height: 1.5;
  }
  & a {
    font-size: 23px;
    text-decoration: none;
    color: #00284C;
  }
}

.app-profile-image--links {
  display: inline-flex;
  &:not(:last-of-type) {
    margin-right: 3rem;
    @media(max-width: 770px) {
      margin-right: 1.5rem;
    }
  }
}
.app-profile--flextext {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 20px;
  opacity: 0.6;
}

.app-image--icons {
  height: 80px;
  width: 100px;
  @media(max-width: 770px) {
    width: 60px;
  }
}

.app-sidepane--container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
  width: 100%;
  margin: auto;
  & .app-sidepane--items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 17%;
    animation-name: textdisplay;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    @media(max-width: 770px) {
      display: none;
    }
    & a {
      text-decoration: none;
      color: black;
    }
  }
  & span {
    margin-left: 1rem;
  }
  & label {
    text-decoration: underline;
    animation-name: textdisplay;
    animation-duration: 2s;
    cursor: pointer;
    margin: inherit;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #2c2cda;
    @media(min-width: 770px) {
      display: none;
    }
  }
  & input {
    display: none;
    @media(max-width: 770px) {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    &:checked~.app-sidepane--items {
      display: block;
    }
  }
}
