.app--mydetails {
  display: table;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  text-align: center;
  @media (max-width: 768px) {
    height: 80px;
    width: 80px;
  }
}

.app-mydetails--text {
  font-size: 20px;
  display: table-cell;
  vertical-align: middle;
  color: #f5f5f7;
  font-weight: 600;
  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.app-mydetails--container {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  animation-name: textdisplay;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  & .app--mydetails {
    &:hover {
      cursor: pointer;
    }
    &:nth-of-type(1) {
      background-color: #bb0000
    }
    &:nth-of-type(2) {
      background-color: #589e58
    }
    &:nth-of-type(3) {
      background-color: #a92fa9;
    }
  }
}

.app--resume {
  text-decoration: none;
}