.app--designation {
  font-size: 35px;
  margin-top: 1rem;
  opacity: 0.6;
  animation-name: textdisplay 4s;
  animation-fill-mode: forwards;
  @media(max-width: 770px) {
    font-size: 25px;
  }
}

.app-intro--text {
  margin-top: 2rem;
  opacity: 0.6;
  & span, p {
    display: inline-block;
    font-size: 20px;
    line-height: 1.5;
  }
  & ul {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 0;
  }
}
.app-imagelinks--container {
  display: flex;
  align-items: center;
  width: 30%;
  border: 1px solid #ccc2c2;
  margin-bottom: 1rem;
  background-color: #f1f1f1;
  & a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 1.5rem;
  }
  & img {
    border-right: 1px solid #ccc2c2;
  }
}
.app-profile-image--links {
  display: inline-flex;
  &:not(:last-of-type) {
    margin-right: 3rem;
    @media(max-width: 770px) {
      margin-right: 1.5rem;
    }
  }
}

.app-skillsummary--images {
  & img {
    width: 80px;
    height: 80px;
  }
}

.app--quotes {
  font-size: 25px;
  margin-top: 4rem;
  display: block;
  line-height: 1.5;
}